@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.contact-icon {
  position: relative;
  top: 6px;
  margin-right: 10px;
}

footer.page-footer {
  margin: 0;
}

#index-banner {
    height: 300px;
    background: #eee url(https://pbs.twimg.com/profile_banners/3415808002/1472060272/1500x500) 50%;
    background-size: cover;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    color: #fff;
  }
